body{
    background: rgb(59, 112, 143);
}

h2{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    width: 20%;
    margin: 0px auto;
    border-radius: 15px;
    

}

button{
    margin: 50px 20px;
    border: 1px solid white;
    background: rgb(37, 131, 65);
    border-radius: 5px;
    line-height: 25px;
    cursor: pointer;
    font-size: 20px;
    padding: 8px 17px ;
    color: rgb(250, 250, 250);
}

button:hover{
    background: rgb(76, 49, 195);
    color: #fff;
    border: 1px solid #fff;
    transition: 0.7s;

}